@media only screen and (max-width: 767px)
{
	.wdph-megamenu-container .wdph-megamenu-navigation-container { position: fixed; top: 0; width: 100%; z-index: 99999; }
	.wdph-megamenu-container ul.wdph-megamenu { display: none; float: left; width: 100%; }
	.wdph-megamenu-container .wdph-megamenu-navigation-container li.wdph-megamenu-item { display: list-item; line-height: 2.5; width: 100% !important; float: left }
	.wdph-megamenu-container .toggle-plus, .wdph-megamenu-container .toggle-minus { float: right; cursor: pointer; }
	.wdph-megamenu-container .toggle-plus { display: block; line-height: 2.5; }
	.wdph-megamenu-container .wdph-megamenu-submenu { position: inherit !important; float: left; clear: both; width: 100%; }
	.wdph-megamenu-navigation-container .toggle-mobile-nav { display: block; position: absolute; top: 100%; right: 10px; font-size: 28px; padding: 5px; border-bottom: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000; cursor: pointer; background-color: inherit; color: inherit; }
	.wdph-megamenu-container ul.wdph-megamenu.mobile-menu-visible { display: block;}
}