<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="WDPH_Megamenu::1_wdph_megamenu" title="Megamenu" module="WDPH_Megamenu" sortOrder="20" action="menuitem/index/index" parent="WDPH_Base::0_wdph" resource="Magento_Backend::content" />
	</menu>
</config>