<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="wdph_megamenu_main" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Megamenu</label>
			<tab>wdph_main</tab>
			<resource>WDPH_Megamenu::main_configurations</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Megamenu Configurations</label>
				<field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Module Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="home" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show Home Link</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="sidebar" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show Sidebar Navigation</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="menu_type" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Menu Type</label>
                    <source_model>WDPH\Megamenu\Model\Config\Menutype</source_model>
                </field>
				<field id="static_width" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Static Width</label>
                    <comment>eg: 256px</comment>
                    <depends>
                        <field id="menu_type">staticwidth</field>
                    </depends>
                </field>				
				<field id="visible_menu_depth" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Visible Menu Depth</label>
                    <comment>1, 2, 3, 4. 0 or empty - disable limits.</comment>
                </field>
				<field id="label1" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 1</label>
                    <comment>You can set lebel for some category.</comment>
                </field>
                <field id="label2" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 2</label>
                    <comment>You can set lebel for some category.</comment>
                </field>
                <field id="label3" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 3</label>
                    <comment>You can set lebel for some category.</comment>
                </field>
				<field id="staticblock_before" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Static Block Before Top Nav</label>
                    <comment>This block will be shown before top navigation menu.</comment>
                </field>
                <field id="staticblock_after" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Static Block After Top Nav</label>
                    <comment>This block will be shown after top navigation menu.</comment>
                </field>
			</group>
			<group id="appearance" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Megamenu Appearance</label>
				<field id="header_general" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                    
                </field>
				<field id="google_font" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Megamenu Font</label>
                    <source_model>WDPH\Megamenu\Model\Config\Font</source_model>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Font</frontend_model>
                </field>				
				<field id="background_color" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Menu Background Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="item_hover_color" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Menu Item Hover Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="font_color" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Menu Item Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="font_hover_color" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Menu Item Hover Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="dropdown_background_color" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Menu Dropdown Background Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>

				<field id="header_home" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Item</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                    
                </field>
				<field id="home_item_font_color" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Item Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="home_item_font_hover_color" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Item Font Hover Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="home_item_back_color" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Item Background Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="home_item_back_hover_color" translate="label comment" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Item Background Hover Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				
				<field id="header_level0" translate="label comment" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 0 Items</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                    
                </field>
				<field id="level0_font_size" translate="label comment" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 0 Items Font Size</label>
                    <comment>eg: 16px</comment>                    
                </field>
				<field id="level0_font_weight" translate="label comment" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 0 Items Font Weight</label>
                    <comment>eg: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder, inherit, initial, lighter, normal, unset</comment>                    
                </field>
				<field id="header_fullwidth" translate="label comment" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Full Width Dropdown</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                   
                </field>
				<field id="submenu_columns" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Submenu Columns</label>
                    <source_model>WDPH\Megamenu\Model\Config\Submenucolumns</source_model>
                </field>
				<field id="fullwidth_level1_font_size" translate="label comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 1 Items Font Size</label>
                    <comment>eg: 16px</comment>                    
                </field>
				<field id="fullwidth_level1_font_weight" translate="label comment" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 1 Items Font Weight</label>
                    <comment>eg: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder, inherit, initial, lighter, normal, unset</comment>                    
                </field>
				<field id="fullwidth_level1_font_color" translate="label comment" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 1 Items Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="fullwidth_level1_font_hover_color" translate="label comment" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 1 Items Font Hover Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="fullwidth_level2_font_size" translate="label comment" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 2+ Items Font Size</label>
                    <comment>eg: 16px</comment>                    
                </field>
				<field id="fullwidth_level2_font_weight" translate="label comment" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 2+ Items Font Weight</label>
                    <comment>eg: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder, inherit, initial, lighter, normal, unset</comment>                    
                </field>
				<field id="fullwidth_level2_font_color" translate="label comment" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 2+ Items Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="fullwidth_level2_font_hover_color" translate="label comment" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Level 2+ Items Font Hover Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="header_classic" translate="label comment" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Classic Dropdown</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                    
                </field>
				<field id="classic_items_font_size" translate="label comment" type="text" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items Font Size</label>
                    <comment>eg: 16px</comment>
                </field>
				<field id="classic_items_font_weight" translate="label comment" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items Font Weight</label>
                    <comment>eg: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder, inherit, initial, lighter, normal, unset</comment>                    
                </field>
				<field id="classic_items_font_color" translate="label comment" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="classic_items_font_hover_color" translate="label comment" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items Font Hover Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="header_labels" translate="label comment" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Labels</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                    
                </field>
				<field id="label1_font_color" translate="label comment" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 1 Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="label1_background_color" translate="label comment" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 1 Background Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="label2_font_color" translate="label comment" type="text" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 2 Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="label2_background_color" translate="label comment" type="text" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 2 Background Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="label3_font_color" translate="label comment" type="text" sortOrder="380" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 3 Font Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="label3_background_color" translate="label comment" type="text" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label 3 Background Color</label>
					<frontend_model>WDPH\Megamenu\Block\System\Config\Color</frontend_model>
                </field>
				<field id="custom_styles" translate="label comment" type="textarea" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Styles</label>
                    <comment><![CDATA[For custom styles , e.g.:<br/><em>&nbsp;&nbsp;&nbsp;&nbsp;.wdph-megamenu-container ul.wdph-megamenu { padding: 0; }</em>]]></comment>					
                </field>
				<field id="custom_js" translate="label comment" type="textarea" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom JS</label>
                    <comment><![CDATA[For custom JS]]></comment>                    
                </field>
			</group>
		</section>
	</system>
</config>